* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    overflow: none;
}

#ga-body {
    background: linear-gradient(180deg, #BA11F7, #6A04E0);
    padding: 3vw;
}

#ga-wrap {
    background-color: white;
    padding: 10px;
    text-align: center;
}

#ga-nav {
    width: 100%;
    padding: 10px;
}

#ga-nav ul {
    margin: auto;
}

#ga-nav li {
    max-width: 15%;
    width: 40px;
    border: solid 1px black;
    vertical-align: middle;
    display: inline-block;
}

#ga-nav a {
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    display: block;
    color: black;
}

#ga-nav a:visited {
    color: black;
}

.item-wrap {
    max-width: 100%;
    width: 30rem;
    margin: auto;
    margin-top: 10px;
}

#title {
    text-align: left;
}

#title h2 {
    font-size: 150%;
}

#title small {
    font-size: 120%;
}

#youtube {
    width: 100%;
}

#post-list {
    text-align: left;
}

#post-list li {
    margin-bottom: 10px;
}

#post-list span {
    font-size: 80%;
}

#post-list h3 {
    font-size: 130%;
    padding: 5px 0;
}

#post-list p {
    padding-left: 10px;
}

#canvas {
    width: 100%;
}

#list li {
    width: 100%;
}

#multi-line {
    max-width: 100%;
    width: 24rem;
    margin: auto;
}

.button {
    padding: 10px;
    cursor: pointer;
}

#button-1 {
    width: 4rem;
}

#button-2 {
    width: 6rem;
}

#img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img-wrap-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-basis: 90px;
    flex-grow: 9;
    padding: 0.5rem;
    padding-right: 0.25rem;
}

#img-wrap-row {
    display: flex;
    flex-basis: 120px;
    flex-grow: 12;
    padding: 0.5rem;
    padding-left: 0.25rem;
}

.img {
    width: 100%;
}

#img-s {}

#img-v {}

#img-h {}